doctype html
html(lang="es")
  head
    title Odette Agazzi - salir de la burbuja
    style.
      .q {font-style:italic; text-indent: 0px; margin-block-start: 1.3em}
      .m {font-style:italic; font-family: Confiteria, Bookman Old Style, Times New Roman, serif}
      .l {font-weight:bold; font-style:italic; font-family: Confiteria, Bookman Old Style, Times New Roman, serif}
      body {max-width: 740px; margin-left:auto; margin-right:auto; padding:2em; font-family: Montserrat, Roboto, Universal, Arial, sans-serif; border-left:0.5px solid #CCC}
      p {text-align: justify; text-indent:2em; font-size:120%; line-height:1.4em}
      .bajada {font-size:60%; font-weight:normal; font-family: Electric Cable, Roboto, Universal, Arial, sans-serif;}
      h1 {text-align: center}
      h2 {margin-block-start: 1.7em}
    </head>
  body

  h1#reglamento.
    #[span.m Odette Agazzi]. 
    #[small Salir de la burbuja.]
    #[.bajada Juego de cartas con desesperación financiera.]
  
  h2#intro Introducción

  p.
    #[span.m Odette Agazzi], la nueva presidanta del fondo,
      nos quiere advertir sobre los peligros de quedarse en la burbuja; 
      por eso nos recomienda este entretenido juego de cartas.
    
  p.
    En este juego no hay ganadores, solo hay perdedores.
    Pierden los que tienen menos de cien mil dólares cuando algún
    jugador consigue llegar a esa cifra.

  h2#preparacion Preparación

  p.
    Se utiliza un mazo de cartas francesas (al que llamaremos #[span.m las reservas])
    y papel y lápiz para llevar las cuentas.

  p.
    Antes de empezar se elije entre los jugadores a un banquero. 
    El banquero jugará también, pero será el encargado de llevar las cuentas
    y los demás jugadors tienen el derecho de echarle todas las culpas.

  p.
    También se decide quién va tomar el rol de 
    #[span.m Odette Agazzi].
    Los demás jugadores son inversionistas.

  p.
    Este es un juego sin ideología ni orden, las cartas no se reparten y el mazo no se pasa.

  p.
    El banquero anota en el papel −100 en la cuenta de cada jugador
    (incluyéndose a él mismo y a #[span.m Odette Agazzi]; 
    esos 100 son la inversión inicial y se restarán al final del partido).
        
  h2#las-cartas Las cartas

  p.
    Las cartas con número valen tantos miles de dólares como su número lo indica. 
    El #[span.l A]#[span.m s] es la de menor valor y vale #[span.m un mil].

  p.
    Las #[span.l J] y las #[span.l K] son las malas noticias 
    de #[span.m Odette Agazzi].
    Los #[span.l Joker] o comodines también son malas noticias.

  p.
    Las #[span.l Q] son cualquiera, la medida más arbitraria de #[span.m Odette Agazzi]
        
  h2#mecanica Mecánica del juego

  p.
    #[span.m Odette] mezcla el mazo (#[span.m las reservas]) y si quiere se lo da a cortar a El banquero.

  p.
    #[span.m Odette] saca la primera carta y anuncia su valor. 
    Los jugadores pueden decidir plantarse avisándole al banquero que le sume los puntos.

  p.
    #[span.m Odette] saca otra carta, suma su valor al anterior y anuncia la suma. 
    Los jugadores que no se hayan plantado pueden decidir hacerlo en ese momento y anotarse la suma. 

  p.
    #[span.m Odette] sigue sacando cartas hasta que todos los jugadores se hayan plantado
    o hasta que salga una carta sin valor. 
    Si nadie sumó #[span.m 100 mil dólares] se commienza una nueva ronda. 

  p.
    Si salió una #[span.l J] o una #[span.l K] #[span.m Odette Agazzi] anuncia la mala noticia. 
    Los jugadors que no se hayan plantado no suman nada. 
    (los puntos de rondas anteriores se conservan). 

  p.
    Si salió una #[span.l Q] 
    #[span.m Odette] anuncia #[span.m esto es Qualquiera]
    y se procede a repartir los puntos entre los jugadores que no se plantaron. 
    La ronda termina pero en la siguiente ronda solo pueden jugar los jugadores 
    que no se habían plantado cuando salió la #[span.l Q].

  p.
    Para mantener la agilidad del sistema financiero el mazo no se vuelve a mezclar
    hasta que es evidente que #[span.m las reservas] se están agotando. 
    En esa situación #[span.m Odette] anuncia un nuevo préstamo, 
    junta el mazo con las cartas descartadas y vuelve a mezclar. 

  h2#fin Fin del juego

  p.
    El juego termina cuando un inversionista llegua a sumar 100 mil dólares. 

  p.
    Al finalizar el juego #[span.m Odette Agazzi] decide si salva al banquero. 
    Si decide salvarlo vuelve a ser banquero en el siguiente partido 
    (pero si no llegó a los 100 mil dólares el banquero igual perdió).

  hr

  h2#faq Preguntas frecuentes

  p.q#q-quienes ¿El banquero y #[span.m Odette] también anotan y se pueden plantar?

  p.a.
    Sí, el banquero y #[span.m Odette] juegan de igual a igual con los demás jugadores
    siguiendo todas las reglas. 
    La única tarea adicional del banquero es llevar las cuentas. 
    #[span.m Odette Agazzi] maneja las reservas, hace los anuncios y puede salvar al banquero.

  p.q#q-espa ¿Se puede jugar con cartas españolas?

  p.a.
    Sí, se puede jugar con un mazo de 40 cartas españolas, sin comodines,
    con los números del #[span.l 1] al #[class.l 7] así: 
    los #[span.l reyes] y #[span.l caballos] son las malas noticias,
    la #[span.l sota] es #[span.m Qualquiera].

  p.q#q-mazos ¿Se usa un solo mazo?

  p.a.
    Sí, alcanza con uno. 
    Pero se puede jugar con un nivel de reservas mayor en especial si hay muchos inversionistas.

  p.q#q-impar.
    Si la cantidad de puntos a repartir cuando sale la #[span.l Q] 
    no es divisible por la cantidad de jugadores que no se plantaron ¿cómo se divide?

  p.a.
    La división se redondea para abajo. 
    Si el banquero es muy aplicado puede calcular cuántos miles de dólares 
    se perdieron en la operación y anotarlo en una cuenta especial. 
    Antes de empezar los jugadores se pueden comprometer a donar a una buena causa
    lo que haya sumado la cuenta especial. 
    También pueden elegir su propio tipo de cambio para esa operación. 

